# your nextjs frontend url
# use a live url for production
FRONTEND_URL=http://localhost:3000
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
DJANGO_SECRET_KEY=django-insecure-&kb*dfba9cjg49w_lo$s#ytsfn92e1y=%vty21m*ikc4&i2n!=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_APPEND_SLASH=True
DJANGO_SITE_ID=1
GOOGLE_CLIENT_ID=abc
GOOGLE_SECRET_KEY=abc
